proposals-list-view {
	display: flex;
	width: 100%;
	flex: 0 1 auto;
	flex-flow: column nowrap;

	.button-container{
		padding: 10px;
		margin: 15px auto;
	}

}

.proposals-list__empty {
	padding: 3em 2em;
	font-weight: 500;
	text-align: center;
	opacity:.7;
}
