<select [% my_veldoptie_id %] name="[% veldoptie_name %]">
    <option value=""></option>
    [% FOR option IN veldoptie_opties %]
        [% option_value = option.value %]

        [% inactive = option.exists('value') && !option.active %]
        [% NEXT IF inactive && !show_inactive && !veldoptie_values.$option_value.length %]

        <option value="[% option_value | html_entity %]" [% (veldoptie_values.$option_value.length ? ' selected="selected"' : '') %]>
            [% option_value | ucfirst %][% IF option.exists('value') && !option.active %] (inactief)[% END %]
        </option>
    [% END %]
</select>
