<div 
	class="suggestion-input-container" 
>

	<div class="suggestion-input-icon" ng-click="vm.handleIconClick()">
		<i class="mdi mdi-magnify"></i>

		<zs-spinner class="spinner-small" is-loading="vm.isLoading()">
		</zs-spinner>

	</div>

	<input
		class="suggestion-input"
		type="text"
		ng-model="vm.query"
		ng-change="vm.handleQueryChange()"
		ng-model-options="vm.getModelOptions()"
		placeholder="{{vm.placeholder}}"
		aria-autocomplete="list"
		aria-controls="{{::vm.inputId()}}-listbox"
		aria-haspopup="listbox"
		aria-expanded="{{vm.isOpen()}}"
		aria-owns="{{::vm.inputId()}}-listbox"
		aria-describedby="{{::vm.inputId()}}-description"
		id="{{::vm.inputId()}}"    
	/>
	<span id="{{::vm.inputId()}}-description" ng-if="!vm.isOpen()" style="display: none;">Begin met typen, wanneer er resultaten beschikbaar zijn kun je navigeren met de boven/onder pijltoetsen en selecteren met enter.</span>
	<span id="{{::vm.inputId()}}-description" ng-if="vm.isOpen() && !vm.isLoading() && vm.getSuggestions().length > 0" style="display: none;">Er zijn {{vm.getSuggestions().length}} resultaten beschikbaar. Navigeer met de boven/onder pijltoetsen en selecteer met enter.</span>
	<span id="{{::vm.inputId()}}-description" ng-if="vm.isOpen() && !vm.isLoading() && vm.getSuggestions().length === 0" style="display: none;">Er zijn geen resultaten gevonden. Pas je zoekterm aan en probeer het opnieuw</span>
	<button
		type="button"
		class="btn btn-secondary suggestion-advanced-search"
		ng-click="vm.handleAdvancedSearchClick()"
		ng-show="vm.hasAdvancedSearch()"
		zs-tooltip="Uitgebreid zoeken"
		aria-label="Uitgebreid zoeken"
		aria-describedby="{{::vm.inputId()}}-label"
	>
		<zs-icon icon-type="magnify-plus">
		</zs-icon>
	</button>

</div>

<zs-suggestion-list
	role="listbox"
	aria-labelledby="{{::vm.inputId()}}-label"
	id="{{::vm.inputId()}}-listbox"
	key-input-delegate="vm.getInputDelegate()"
	data-suggestions="vm.getSuggestions()"
	on-select="vm.handleSelect($suggestion)"
	data-label="{{vm.getStateLabel()}}"
	zs-position-fixed="{ reference: vm.getInputDelegate().input, autosize: true, attachment: 'top left', target: 'bottom left', flip: true }"
	ng-if="vm.isOpen()"
>
</zs-suggestion-list>
