<table>
    <tr>
         <td>
            [% kenmerk_fieldname = fieldname _ '_kenmerk' %]
            [% PROCESS selecteer_milestone_kenmerk 
                 kenmerk_name = 'regels_' _ kenmerk_fieldname
                 value = params.$kenmerk_fieldname
                 show_text_only = 1
                 hide_aanvrager_option = 1
            %]
        </td>
        <td>
            [%  value_fieldname = fieldname _ '_value' %]

            [% IF global.kenmerk_selection == 'case_result' %]
                [% resultaten = last_milestone.elementen.resultaten.values %]
                <select name="[% 'regels_' _ value_fieldname %]">
                    [% FOREACH resultaat_index = zaaktype_resultaten.keys.sort %]
                    	[% resultaat = zaaktype_resultaten.$resultaat_index %]
                        <option value="[% resultaat_index %]"
                            [% IF params.$value_fieldname == resultaat_index %]selected="selected"[% END %]
                        >[% resultaat.resultaat | ucfirst %] [% IF resultaat.label %]([% resultaat.label %])[% END %]</option>
                    [% END %]
                </select>
            [% ELSIF global.kenmerk_selection == 'price' %]
                &euro;
                <span class="price_input">
                [% PROCESS widgets/general/veldoptie.tt 
                        veldoptie_type   = 'valuta'
                        veldoptie_value  = params.$value_fieldname    
                        veldoptie_name   = 'regels_' _ value_fieldname
                %]
                </span>
            [% ELSE %]
                [% value_kenmerk = kenmerk_info.${global.kenmerk_selection} %]

                [% PROCESS widgets/general/veldoptie.tt
                        veldoptie_type   = value_kenmerk.type
                        veldoptie_opties = value_kenmerk.options
                        veldoptie_value  = params.$value_fieldname    
                        veldoptie_name   = 'regels_' _ value_fieldname
                %]
                <p>Kan waarde wijzigen:</p>
                [% changeoption = fieldname _ '_can_change' %]
                <label>
                    <input
                    type="radio"
                    value="0"
                    name="regels_[% changeoption %]"
                    checked="checked"
                    > Nee
                </label>
            [% END %]
		</td>
	</tr>
</table>
