<case-list-item-list
	case-groups="vm.getGroups()"
	on-load-more="vm.onLoadMore()"
>
</case-list-item-list>

<div class="case-list-view__supportlink" ng-if="vm.getSupportLink()">
	<span>
		Probleem met de werking van de app?<br /> <a ng-href="{{::vm.getSupportLink()}}" target="_new">Meld het hier.</a>
	</span>
</div>
