@import "../../styles/variables";

.pagination{
	padding:1em;
	display: flex;
	flex-flow: row nowrap;
	justify-content:space-between;
}

.pagination-buttons,
.pagination-amount{
	display: flex;
	align-items:center;
}

.pagination-amount{
	font-size:.9em;
	white-space: nowrap;
	label{
		margin-right:5px;
	}
}

.pagination-buttons{
	.mdi{
		font-size:1.5rem;
	}
}

.pagination-button{
	border-radius:100%;
}

.pagination-page{
	padding:.2rem .7rem;
}

.pagination-spinner .spinner-wrapper{
	padding:0 .3rem;
}
