[% USE Scalar %]

[% alerttable = document.scalar.logging %]

[% IF alerttable.is_alert %]
    <div class="dialog-help">
        <div class="dialog-help-text">
            [% alerts = alerttable.scalar.alerts %]
            [% WHILE (log = alerts.next) %]
            <table class="table_zaakinformatie">
                <tbody>
                    <tr class="table_zaakinformatie_tr">
                        <td class="table_td_left_zaakinformatie">Zaaknummer:</td>
                        <td class="table_td_right_zaakinformatie">[% log.get_column('zaak_id')|| 'Onbekend' %]</td>
                    </tr>
                    <tr class="table_zaakinformatie_tr">
                        <td class="table_td_left_zaakinformatie">Betrokkene:</td>
                        <td class="table_td_right_zaakinformatie">
                            [% c.model('Betrokkene').get({}, log.betrokkene_id).naam %]
                        </td>
                    </tr>
                    <tr class="table_zaakinformatie_tr">
                        <td class="table_td_left_zaakinformatie">Onderwerp:</td>
                        <td class="table_td_right_zaakinformatie">[% log.onderwerp %]</td>
                    </tr>
                    <tr class="table_zaakinformatie_tr">
                        <td class="table_td_left_zaakinformatie">Aangemaakt:</td>
                        <td class="table_td_right_zaakinformatie">[% log.created.dmy %]</td>

                    </tr>
                    [% IF log.bericht %]
                    <tr class="table_zaakinformatie_tr">
                        <td class="table_td_left_zaakinformatie">Bericht:</td>
                        <td class="table_td_right_zaakinformatie">[% log.bericht | html_line_break %]</td>
                    </tr>
                    [% END %]
                </tbody>
            </table>
            [% END %]
        </div>
    </div>
[% ELSE %]
    &nbsp;
[% END %]

