@import "partials/dependencies";    

.block-inner-scroll{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding:0;
    top:56px;
}

.body-full-screen .block-inner-scroll{
    left:0;
    right:0;
    bottom:0;
}

.block-inner-scroll .block-inner-scroll-left,
.block-inner-scroll .block .blockcontent,
.block-inner-scroll-inner{
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
}

.block-inner-scroll-inner{
    border-top: none;
    background: #fff;
}

.block-inner-scroll .block-inner-scroll-left{
    margin: 0;
    right: 300px;
    border-right:1px solid #aaa;
}

.block-inner-scroll .blockcontent{
    overflow: auto;
    padding: 0;
}

.block-inner-scroll .block-inner-scroll-right .blockcontent{
    top: 67px;
    padding-top: 6px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.block-inner-scroll .blockcontent-left .treeTable,
.block-inner-scroll .block-inner-scroll-right .blockcontent .treeTable{
    padding-left: 20px;
}

.block-inner-scroll .block-inner-scroll-right .blockcontent .treeTable{
    margin-bottom:7rem;
}

.block-inner-scroll .blockcontent .treeTable td.td-del{
    padding-left: .9em;
}

.block-inner-scroll .blockcontent .treeTable td.td-del .right{
    float: none;
}

.block-inner-scroll li{
    padding: 2px;
    border-radius: 2px;
    .icon-remove{
        visibility: hidden;
    }
    &:hover{
        background: #eee;
        .icon-remove{
            visibility: visible;
        }
    }
}
    
.block-inner-scroll .splitter{
    position: absolute;
    left: 0;
    top: 67px;
    bottom: 0;
    right: 0;
}

.block-inner-scroll td
{
    border-bottom: none !important;
    padding: .4em .3em;
    &.entry-user{
        padding:1em;
    }
}

.block-inner-scroll .block-inner-scroll-left .blockcontent-right{
    background: lighten($background-color,3%);
    left: 30%;
}

.block-inner-scroll .block-inner-scroll-left .blockcontent-right tr:nth-child(odd) td{
    background:#fff;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right:1em;
}

.oldie .block-inner-scroll .block-inner-scroll-left .blockcontent-right td{
    border-bottom: 1px solid #eee;
}

.block-inner-scroll .block-inner-scroll-left .blockcontent-left{
    padding-top: 6px;
    width: 30%;
    right: 60%;
}

.block-inner-scroll .block-inner-scroll-right{
    position: absolute;
    width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

.ui-layout-resizer  { cursor:col-resize !important; }
.ui-layout-toggler  { background: #777 !important; }

.gebruikers .entry-user .entry_name, 
.entry-user-draggable .entry_name{
    padding-left: 24px;
    background: url(/images/icon-user-blue.png) no-repeat 0 center;
}

.gebruikers .entry-user {
    padding-left: 15px !important;
    ul{
        margin-left:20px;
        margin-top:8px;
    }
}

.gebruikers .entry-role .entry_name,
.entry-role-draggable .entry_name,
.ezra_entryrol .entry_role{
    padding-left: 24px;
    background: url(/images/icon-users.png) no-repeat 0 center;
}

.gebruikers .entry-group .entry_name,
.entry-group-draggable .entry_name,
.entry_unit{
    padding-left: 22px;
    background: url(/images/icon-user-folder.png) no-repeat 0 center;
}

.gebruikers .entry-organization .entry_name{
    padding-left: 21px;
    background: url(/images/icon-building.png) no-repeat 0 center;
}

.gebruikers .entry-organization .entry_name a{
    font-weight: bold;
}

.gebruikers .entry_name a{
    text-decoration: none;
} 

.gebruikers .ezra_entryrol .icon-remove{
    display: inline-block;
}


.gebruikers .ui-draggable-dragging{
    border: none;
}

.gebruikers .ou-active td{
    font-weight: bold;
    span a{color:#000;}
}

.treeTable tr.accept td .entry_name a{
    color:#fff !important;
}

.gebruikers .treeTable tr.ou-active.accept td .entry_name a{
    color: #000 !important;
}

.gebruikers .blockcontent-right .accept td{
    background:#3875d7 !important;
    color: #fff;
}

.gebruikers .block ul{
    margin-left: 25px;
    list-style: none;
    padding-top:8px;
    &.has-entry-user-accept{
        margin-left:0;
    }
}

.entry-user-accept{
    padding:7px 7px 7px 9px;
    margin-top:10px;
    border:2px solid #ccc;
    margin-left:0;
    position: relative;
    background:#eee;
    border-radius:2px;
    &:after, &:before {
        bottom: 100%;
        left: 50px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after {
        border-color: rgba(247, 247, 247, 0);
        border-bottom-color: #eee;
        border-width: 5px;
        margin-left: -5px;
    }
    &:before {
        border-color: rgba(204, 204, 204, 0);
        border-bottom-color: #ccc;
        border-width: 8px;
        margin-left: -8px;
    }
}