<div class="action">
    <table class="fixed-layout">
        <thead>
            <tr>
                <th class="td100">Veld</th>
                <th class="td400">Nieuwe waarde</th>
                <th class="td400">Bestaande waarde</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Vraag:</strong></td>
                <td>[% item.properties.faq_question || '-' %]</td>
                <td>[% item.existing.faq_question || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Antwoord:</strong></td>
                <td>[% item.properties.faq_answer || '-' %]</td>
                <td>[% item.existing.faq_answer || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Relaties:</strong></td>
                <td>
                    <ul>
                        [% FOREACH relation IN item.relations %]
                        [% NEXT UNLESS relation.local_id %]
                        <li>
                            [% IF relation.type == 'faq' %]
                            Vraag
                            [% ELSIF relation.type == 'product' %]
                            Product
                            [% END %]
                            -
                            [% relation.label %]
                        </li>
                        [% END %]
                    </ul>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
